.accordcontent {
    overflow: hidden;
    margin-top: 10px;
    border-right: solid #d2c9c9 thin;
}

.accordcontent a {
    /*background-color: #35527d;
    color: #ff0;*/
    border-radius: 5px;
}

.accordcontent p,
.accordcontent h2,
.accordcontent h3,
.accordcontent h1 {
    padding-left: 7px;
    padding-right: 7px;
}

.accordheader {
    font-weight: bold;
    font-size: 16px;
    background: #35527d;
    color: #ff0;
}

.accthem1 {
    background: linear-gradient(60deg, #ec407a, #d81b60);
    color: #fff;
}

.accthem2 {
    background: linear-gradient(60deg, #9c26bb, #d81b60);
    color: #fff;
}

.accthem3 {
    background: linear-gradient(60deg, #8f28ab, #530567);
    color: #fff;
}

.acctheme4 {
    background: linear-gradient(60deg, #bd65b6, #530567);
    color: #fff;
}

.acctheme4 a {
    color: #fff;
}

.acctheme4 .accordheader {
    /*background:linear-gradient(60deg,#db2063,#e63572);*/
    /*background: linear-gradient(60deg, #a14ca1, #611171);*/
}

.acctheme5 {
    background: linear-gradient(60deg, #26c6da, #00acc1);
    color: #fff;
}

.acctheme5 .accordheader {
    background: linear-gradient(60deg, #02aec3, #13b9ce);
}

.acctheme6 {
    background: linear-gradient(60deg, #66bb6a, #43a047);
    color: #fff;
}

.acctheme6 .accordheader {
    background: linear-gradient(60deg, #43a047, #66bb6a);
}

.acctheme7 {
    border: solid #13b9ce thin;
}

.acctheme7 .accordheader {
    background: linear-gradient(60deg, #02aec3, #13b9ce);
    color: #fff;
}

.acctheme8 {
    border: solid #530567 thin;
}

.acctheme8 .accordheader {
    background: linear-gradient(60deg, #bd65b6, #530567);
    color: #fff;
}

.acctheme9 {
    background: linear-gradient(60deg, #ff9e0f, #530567);
    color: #fff;
    
}

.acctheme9 .accordheader {
    /*background:linear-gradient(60deg,#db2063,#e63572);*/
    /*background: linear-gradient(60deg, #a14ca1, #ff9e0f);*/
}

.acctheme10 {
    background: linear-gradient(60deg, #fbd10a, #ac9515);
    color: #fff;
}

.acctheme10 .accordheader {
    text-align: center;
}

.acc_container {}

.acc_container .accordheader {
    border: solid #d2c9c9 thin;
    width: -moz-fit-content;
}


.accordreadmore {}

.accreadmorebtn {
    font-family: inransanse;
}

.accthemedef .accordheader {
    background: #35527d;
    color: #ff0;
}